*/.idea
*/venv
*/__pycache__

PythonInterview.doc
.idea


douban_flask

flaskPractice/templates/test/echarts.min.js
flaskPractice/templates/test/testEcharts.html

temp.py
temp1.py

PyGamePractice/build
PyGamePractice/Game.spec
PyGamePractice/Refactoring.spec